extends ../base.pug

block variables
  - var template = 'collections'

block content
  .collections 
    .collections__wrapper 
      .collections__titles 
        each collection, index in collections
          .collections__titles__label!=`Collection<br>${numToWord(index)}`
          .collections__titles__title=collection.title

      .collections__gallery 
        .collections__gallery__wrapper
          each collection in collections
            each product in collection.products
              a.collections__gallery__link(href=Link(product.products_product))
                figure.collections__gallery__media 
                  img.collections__gallery__media__image(alt=product.products_product.data.image.alt data-src=product.products_product.data.image.url)

      .collection__content
        each collection, index in collections
          if index == 0
            article.collections__article 
              h2.collections__article__title=`${collection.title} Collection`
              .collections__article__description!=collection.description.replace(/\n/, '<br>')