extends ../base.pug

block variables
  - var template = 'detail'

block content
  .detail 
    .detail__wrapper
      figure.detail__media 
        img.detail__media__image(alt=product.image.alt src=product.image.url)
      
      .detail__information 
        p.detail__information__collection #{product.collection.data.title}

        h1.detail__information__title=product.title

        .detail__information__content
          .detail__information__highlights 
            each highlight in product.highlights
              p.detail__information__highlight
                svg.detail__information__highlight__icon
                  use(xlink:href=`sprite-${highlight.highlights_icon.toLowerCase()})`)
                
                span.detail__information__highlight__text!=highlight.highlights_text.replace(/\n/g, '<br>')

          .detail__information__list
            each item in product.informations 
              p.detail__information__item 
                strong.detail__information__item__title=item.information_label
                span.detail__information__item__description=item.information_description

          a.detail__information__link(href=product.link_url.url target="blank")=product.link_text


