extends ../base.pug

block variables
  - var template = 'detail'

block content
  .detail
    .detail__wrapper
      figure.detail__media
        img.detail__media__image(alt=detail.data.image.alt src=detail.data.image.url)

      .detail__information
        p.detail__information__collection=`${detail.data.collection.data.title} Collection`

        h1.detail__information__title=detail.data.title

        .detail__information__content
          .detail__information__highlights
            each highlight in detail.data.highlights
              p.detail__information__highlight
                svg.detail__information__highlight__icon
                  use(xlink:href=sprite-`${highlight.highlights_icon.toLowerCase()}`)

                span.detail__information__highlight__text=highlight.highlights_text

          .detail__information__list
            each item in detail.data.informations
              p.detail__information__item
                strong.detail__information__item__title=item.information_label
                span.detail__information__item__description=item.information_description

          a.detail__information__link(href=detail.data.link_url.url target='_blank')=detail.data.link_text
        a.detail__button(href="/collections")="close"
          svg.detail__button__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 124 60")
            path(stroke="currentColor" fill="none" id="Ellipse_2" d="M62,0.5c34,0,61.5,13.2,61.5,29.5S96,59.5,62,59.5S0.5,46.3,0.5,30S28,0.5,62,0.5z")

