extends ../base.pug

block variables
  - var template = 'detail'

block content
  .detail(data-background="#BC978C" data-color="#F9F1E7") 
    .detail__wrapper
      figure.detail__media 
        img.detail__media__image(alt=product.image.alt data-src=product.image.url)
      
      .detail__information 
        p.detail__information__collection #{product.collection.data.title}

        h1.detail__information__title=product.title

        .detail__information__content
          .detail__information__highlights 
            each highlight in product.highlights
              p.detail__information__highlight
                svg.detail__information__highlight__icon
                  use(href=`sprite-${highlight.highlights_icon.toLowerCase()}.svg#${highlight.highlights_icon.toLowerCase()}`)
                
                span.detail__information__highlight__text!=highlight.highlights_text.replace(/\n/g, '<br>')

          .detail__information__list
            each item in product.informations 
              p.detail__information__item 
                strong.detail__information__item__title=item.information_label
                span.detail__information__item__description=item.information_description

          a.detail__information__link(href=product.link_url.url target="blank")=product.link_text

      button.detail__button="Close" 
        svg.detail__button__icon(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 124 60")
          path(fill="none" stroke="currentColor" d="M62,0.5c33.97,0,61.5,13.21,61.5,29.5S95.97,59.5,62,59.5S0.5,46.29,0.5,30S28.03,0.5,62,0.5z")
          //- path.detail__button__icon__path(fill="none" stroke="#FFC400" d="M62,0.5c33.97,0,61.5,13.21,61.5,29.5S95.97,59.5,62,59.5S0.5,46.29,0.5,30S28.03,0.5,62,0.5z")


