extends ../base.pug

block variables
  - var template = 'home'

block content
  .home 
    .home__wrapper
      .home__titles 
        each collection, index in collections
          .home__titles__label=`Collection ${numToWord(index)}`
          .home__titles__title=collection.title
          
      each media in home.gallery
        figure.home__gallery__media 
          img.home__gallery__media__image(alt=media.image.alt src=media.image.url)

      a(href="/collections")=home.button
